{

    #
    #  Device: 27C020 -> PAL16V8 adapter
    #
    #  27C020:
    #   12    11    10    9     8     7     6     5     27    26    23    25    4     28    29    3     2     30    13    14    15    17    18    19    20    21    32    16    22    24    31    1
    #  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    # | A0  | A1  | A2  | A3  | A4  | A5  | A6  | A7  | A8  | A9  | A10 | A11 | A12 | A13 | A14 | A15 | A16 | A17 | D0  | D1  | D2  | D3  | D4  | D5  | D6  | D7  | VCC | GND | CE  | OE  | PGM | VPP |
    #  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     Z     Z     Z     Z     Z     Z     Z     Z     |     |     |     |     |     |     |     |     |     |     x     x     x     x 
    #    |     |     |     |     |     |     |     |     |     |     Z     Z     Z     Z     Z     Z     Z     Z     |     |     |     |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     o-----|-----|-----|-----|-----|-----|-----|-----      |     |     |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----|-----|-----|-----|-----------      |     |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----|-----|-----|-----------------      |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----|-----|-----------------------      |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----|-----------------------------      |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----------------------------------      |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----------------------------------------      |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     o-----------------------------------------------      |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |      -----------------------------------------------      |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |      -----------------------------------------------
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |
    #  -----------------------------------------------------------------------------------------------------------------------
    # | I0  | I1  | I2  | I3  | I4  | I5  | I6  | I7  | I8  | I9  | B0  | B1  | B2  | B3  | B4  | B5  | B6  | B7  | 5V+ | GND |
    #  -----------------------------------------------------------------------------------------------------------------------
    #   1     2     3     4     5     6     7     8     9     11    12    13    14    15    16    17    18    19    20    10
    #  PAL16V8:
    #

    "pal16v8": {
        "pal_device_name": "G16V8",
        "pal_input_pins": 10,
        "pal_output_pins": 8,
        "pal_pin_names": {"1": "i1", "2": "i2", "3": "i3", "4": "i4", "5": "i5", "6": "i6", "7": "i7", "8": "i8", "9": "i9", "11": "i11", "12": "o12", "13": "o13", "14": "o14", "15": "o15", "16": "o16", "17": "o17", "18": "o18", "19": "o19"},
        "eprom_address_width": 18,
        "eprom_address_pins": [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19],
        "eprom_data_width": 8,
        "eprom_data_pins": [12, 13, 14, 15, 16, 17, 18, 19],
        "eprom_hiz_probe_pins": 8,
        "eprom_endianness": "little"
    },

    #
    #  Device: 27C322 -> PAL22V10 adapter
    #
    #  27C322: (note: notice there are not enough pins on the device to map a hi-z probe pin to pin B9 on the pal22v10)
    #   10    9     8     7     6     5     4     3     41    40    39    38    37    36    35    34    33    2     1     42    32    14    16    18    20    23    25    27    29    15    17    22    12    31    19    21    24    26    28    30    11    13
    #  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    # | A0  | A1  | A2  | A3  | A4  | A5  | A6  | A7  | A8  | A9  | A10 | A11 | A12 | A13 | A14 | A15 | A16 | A17 | A18 | A19 | A20 | D0  | D1  | D2  | D3  | D4  | D5  | D6  | D7  | D8  | D9  | VCC | GND | GND | D10 | D11 | D12 | D13 | D14 | D15 | CE  | OE  |
    #  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     Z     Z     Z     Z     Z     Z     Z     Z     Z     |     |     |     |     |     |     |     |     |     |     |     |     x     x     x     x     x     x     x     x     x
    #    |     |     |     |     |     |     |     |     |     |     |     |     Z     Z     Z     Z     Z     Z     Z     Z     Z     |     |     |     |     |     |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----|-----|-----|-----|-----|-----|-----      |     |     |     |     |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----|-----|-----|-----|-----|-----------      |     |     |     |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----|-----|-----|-----|-----------------      |     |     |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----|-----|-----|-----------------------      |     |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----|-----|-----------------------------      |     |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----|-----------------------------------      |     |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----|-----------------------------------------      |     |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     o-----|-----------------------------------------------      |     |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     o-----------------------------------------------------      |     |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |      -----------------------------------------------------      |     |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |      -----------------------------------------------------      |
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |      ----------------------------------------------------- 
    #    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |
    #  -----------------------------------------------------------------------------------------------------------------------------------------------
    # | I0  | I1  | I2  | I3  | I4  | I5  | I6  | I7  | I8  | I9  | I10 | I11 | B0  | B1  | B2  | B3  | B4  | B5  | B6  | B7  | B8  | B9  | 5V+ | GND |
    #  -----------------------------------------------------------------------------------------------------------------------------------------------
    #   1     2     3     4     5     6     7     8     9     10    11    13    14    15    16    17    18    19    20    21    22    23    24    12
    #  PAL22V10:
    #

    "pal22v10": {
        "pal_device_name": "G22V10",
        "pal_input_pins": 12,
        "pal_output_pins": 10,
        "pal_pin_names": {"1": "i1", "2": "i2", "3": "i3", "4": "i4", "5": "i5", "6": "i6", "7": "i7", "8": "i8", "9": "i9", "10": "i10", "11": "i11", "13": "i13", "14": "o14", "15": "o15", "16": "o16", "17": "o17", "18": "o18", "19": "o19", "20": "o20", "21": "o21", "22": "o22", "23": "o23"},
        "eprom_address_width": 21,
        "eprom_address_pins": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22],
        "eprom_data_width": 16,
        "eprom_data_pins": [14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
        "eprom_hiz_probe_pins": 9,
        "eprom_endianness": "little"
    }

}